__pycache__
/python/build/
/python/dist/
/python/testenv/
/python/irclogtools.egg-info/
/tmp/
/debian/irclogtools
/debian/debhelper-build-stamp
/debian/files
/debian/irclogtools.debhelper.log
/debian/irclogtools.substvars
/ilogarchive
